apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: dc-metro-map-37zv
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/release-e2e-deploy-tenant/appstudio/dc-metro-map-37zv@sha256:938b530ffbcbfc250b65edde38498bcbf4008a4cb17b0478d24149d559030636
        name: my-nodejs
        resources: {}
status: {}
